.landingCarousel{
  position: relative;
  padding: 20px;
  padding-bottom: 5px;
  background: white;
  width: 850px;
  height: 400px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.712);
}
.landingCarouselOuter{
  position: relative;
  margin: 0 auto 0 auto;
  width:fit-content;
}
.landingCarouselMain{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
  position:absolute;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  overflow:hidden;
}

.landingCarousel .landingArrows {
  font-size: 2rem;
  height:100%;
  display:flex;
  align-items:center;
  justify-content: center;
  transition:500ms;
  z-index:3;
  background:rgba(255, 255, 255, 0.171);
}
.landingCarousel .landingArrows:hover{
  background:white;
}
.landingCarouselInner{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
}
.landingLeft{
  position:absolute;
  left:0px;
}
.landingRight{
  position:absolute;
  right:0px;
}
.landingCarouselTitle{
  width:850px;
  text-align: center;
  color:rgb(115, 99, 200);
  font-size:3rem;
  letter-spacing: 10px;

}
.landingCarouselItem{
  height:100%;
}
.landingCarouselText {
  position:absolute;
  display:flex;
  top:0px;
  height:100%;
  align-items: center;
  justify-content: center;
  text-align:center;
  font-size:2.5rem;
  font-weight:800;
  text-decoration: solid;
  color:white;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}
.landingCarouselMain img{
  width:100%;
  height: 100%;
}
.landingCarousel .landingArrows:hover {
  cursor: pointer;
}
.landingCarouselIndex {
  text-align: center;
  position:absolute;
  bottom:0px;
  left:0px;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.landingCarouselIndex:hover {
  cursor: pointer;
}
.landingCarousel .hidden:hover {
  cursor: pointer !important;
}
.landingCarouselIcon{
  width:15px;
  height:15px;
  margin-right:20px;
  margin-left:20px;
  background:white;
  border-radius: 50%;
}

.visible {
  opacity: 1;
  transition: 500ms;
}

.hidden {
  opacity: 0.3;
  transition: 500ms;
}
.hidden:hover {
  cursor: default !important;
}