.landingContent{
  padding-top:75px;
  padding-bottom:100px;
}
.landingContentJoin{
  text-align:center;
}
.landingInfoHr {
  margin: 1.5rem auto;
  width:80%;
  border-bottom: 2px solid;
  border-top:none;
  border-image-slice: 1;
  border-image-source: radial-gradient(circle, rgba(87,26,177,0.8799894957983193) 73%, rgba(252,70,107,0) 100%);
}
.landingInfoList {
  padding: 2.5% 0 10% 0;
}
.landingInfoHeading h1{
  font-size:3rem;
  color:rgb(115, 99, 200);
  letter-spacing: 5px;
}
.ui.button.landingSignUp{
  background: #7363C8;
  width: 250px;
  margin:20px;
  color: white;
  transition: 500ms;
}
.ui.button.landingSignUp:hover{
  background: rgba(116, 99, 200, 0.596)
}

.landingInfoBody p {
  font-weight: bold !important;
  font-size: 24px !important;
}

/* .landingCarouselBottom{
  padding-left: -1000px;
  padding-right:100%;
  background-color: rgb(219, 219, 219);
  padding-top: 100px;
  padding-bottom: 100px;
} */
