/*====================
        HEADER
======================*/

.carrouselWrapper {
    height: 500px; 
    border-bottom:15px solid white;
  }

.carrouselImage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-items: stretch; */
    align-items: center;
    justify-content: center;
  }

  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%
  }

  .carrousel img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
  }

  .carrousel{
    width: 100%;
  }

  .carouselImage > h1 {
    border: 2px solid white;
    height: 121px;
    margin: 6px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding: 21px 70px 0px 70px;
    text-transform: uppercase;
  }

  