@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.landingInfo {
  width: 198px;
  overflow: hidden;
  text-align: center;
  background-color: #fffdd0;
}

.landingInfoContainer {
  cursor: pointer;
  height: 250px;
  width: 200px;
  perspective: 800px;
  position: relative;
  left: 10%;
  top: 30%;
  margin: auto;
}

.landingHeading {
  font-weight: bold;
}