@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.landingInfoContainer {
  max-height: 80vh;
  width: 500px;
  perspective: 800px;
  position: relative;
  line-height: normal;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
  overflow-y:hidden;
  border-radius: 5px;
}
.landingInfoContainer img{
  width:100%;
}

.landingInfoContainer :hover{
  transition: .5s ease-in-out;
  background-color: #322943;
  color: white;
}

.landingInfo {
  height: 380px;
  width: 100%;
  color: #322943;
  background-color: white;
  padding: 2rem;
  padding-top:100px;
 
}

.landingInfoHeading {
  font-weight: bold;
  font-size: 1.5rem;
}

.landingInfoHr {
  margin: 1.5rem 0;
}

.landginInfoBody {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
