.landing {
  background: rgba(76, 64, 98, 0.9);
  min-height: 50vh;
  padding-bottom:100px;
  position: relative;
}

.landingSubContainer {
  padding-top:100px;
  min-height: 50vh;
  width: 100%;
  position: relative;
}