.landing {
  background-color: rgb(255, 255, 255);
  min-height: 50vh;
  position: relative;
  top:0px;
}

.landingSubContainer {
  padding-top:100px;
  min-height: 50vh;
  width: 90%;
  margin: 0 auto;
  position: relative;
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
}

.landingInfoBody p {
  font-weight: bold;
  font-size: 60px;
}