.landing {
  background: #114357;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  


  min-height: 50vh;
  padding-bottom:100px;
  position: relative;
}

.landingSubContainer {
  padding-top:100px;
  min-height: 50vh;
  width: 100%;
  position: relative;
}