.incomeHeader{
  padding-top:10%;
  padding: bottom 3%;
  color:white;
}

.incomeHeaderTitle{
  text-align: center;
  font-size:2.5rem;
  margin-bottom:20px;
  letter-spacing:5px;
}

.incomeHeaderText{
  width:70%;
  margin: 0 auto;
}

.incomeHeader Hr{
  width:80%;
  margin: 0 auto;
  margin-bottom:20px;
}

.incomeTable{
  padding-bottom:10%;
}

.incomeButtons{
  display: flex;
  margin-top:50px;
  margin-bottom:50px;
}

.incomeButtons .button{
  flex-grow: 1;
  margin-left:20px;
  margin-right:20px;
  letter-spacing: 10px;
  padding:15px;
  border-radius:5px;
  font-size: 0.8rem;
  background: #333333 !important;
  color:white;
}

.incomeButtons .button:hover{
  background:#434343 !important;
  color: white;
}

.incomeButtons .button.add{
  background:rgb(219, 219, 219) !important;
  color:black;
  text-shadow:none;
}

.incomeButtons .button.add:hover{
  background:white !important;
}

.income{
  background-color: #5E5371;
}

.pointerCursor {
  cursor: pointer;
}