.incomeHeader{
  padding-top:10%;
  padding: bottom 3%;
  color:white;
}

.incomeHeaderTitle{
  text-align: center;
  font-size:2.5rem;
  margin-bottom:20px;
  letter-spacing:5px;
}

.incomeHeaderText{
  width:70%;
  margin: 0 auto;
}

.incomeHeader Hr{
  width:80%;
  margin: 0 auto;
  margin-bottom:20px;
}

.incomeTable{
  padding-bottom:10%;
}

.incomeButtons{
  display: flex;
  margin-top:50px;
  margin-bottom:50px;
}

.incomeButtons .button{
  flex-grow: 1;
  margin-left:20px;
  margin-right:20px;
  letter-spacing: 10px;
  padding:15px;
  border-radius:5px;
  font-size: 0.8rem;
  transition: .5s;
  background: #333333 !important;
  color:white;
}

.incomeButtons button.ui.button.incomeAdd.toggleOnAndOff:focus{
  background:#434343 !important;
  color: white;
}

.incomeButtons .button:hover{
  background:#434343 !important;
  color: white;
  transition: all .2 ease-in-out;
  transform: scale(1.05);
}

.incomeButtons .button.add{
  background:rgb(219, 219, 219) !important;
  color:black;
  text-shadow:none;
}

.incomeButtons .button.add:hover{
  background:white !important;
}

.income{
  /* background-color: #5E5371; */
  background: #114357;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.income .table{
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
}


.pointerCursor {
  cursor: pointer;
}

