/* BODY BACKGROUND */
.income{
  background-color: #5E5371;
  min-height: 600px;
  padding: 6rem 0;
}

/* HEADER */

.incomeHeaderTitle{
  text-align: center;
  font-size:2.5rem;
  margin-bottom:20px;
  /* font-family: 'Raleway', sans-serif; */
  letter-spacing:5px;
}

.incomeHeader{
  color:white;
}

.incomeHeaderText{
  width:70%;
  margin: 0 auto;
}

.incomeHeader Hr{
  width:80%;
  margin: 0 auto;
  margin-bottom:20px;
}

/* ============== */

/* BUTTONS */

.incomeButtons{
  display: flex;
  justify-content: center;
  margin-top:50px;
  margin-bottom:50px;
}

.incomeButtons .button{
  flex-grow: 1;
  margin-left:20px;
  margin-right:20px;
  letter-spacing: 10px;
  padding:15px;
  border-radius:5px;
  font-size: 0.8rem;
  transition: .5s;
  background: #333333 !important;
  color:white;
}

.incomeButtons button.ui.button.incomeAdd.toggleOnAndOff:focus{
  background:#434343 !important;
  color: white;
}

.incomeButtons .button:hover{
  background:#434343 !important;
  color: white;
  transition: all .2 ease-in-out;
  transform: scale(1.05);
}

.incomeButtons .button.add{
  background:rgb(219, 219, 219) !important;
  color:black;
  align-items: center !important;
  text-shadow:none;
}

.incomeButtons .button.add:hover{
  background:white !important;
}

/* ============ */

/* TABLE */

.incomeTable{
  padding-bottom:2rem;
}

.income .table{
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
}

.pointerCursor {
  cursor: pointer;
}

