.goalMainContainer{
  margin: 10% 0 10% 0
}

.goalHeaderTitle {
  text-align: center;
  font-size:2.5rem;
  margin-bottom:20px;
  letter-spacing:5px;
  color:white;
}
.goalButtons{
  display: flex;
  justify-content: center;
  margin-top:50px;
  margin-bottom:50px;
  width:100%;
}

.goalButtons .button{
  background:#333333;
  text-shadow: none;
  border-radius: 5px;
  flex-grow: 1;
  margin-left:20px;
  margin-right:20px;
  letter-spacing: 10px;
  padding:15px;
  font-size: 0.8rem;
  color:white;
  transition: .5s;
}

.goalButtons .ui.button:focus{
  background-color: #2C2B2B !important;
  /* transform: scale(1.1); */
  color: white;
}

.goalButtons .ui.button:hover{
  transform: scale(1.05); 
  color: white;
  transition: all .2s ease-in-out;
  background-color: #434343;
}

.ui.inverted.table th.goalsTableSpecial{
  background:rgba(48, 48, 48, 0.651) !important;
  color:rgb(255, 255, 255) !important;
}
.ui.inverted.table th{
  font-size:1rem;
}
.ui.inverted.table {
  background: rgba(26, 26, 26, 0.651) !important;
}
.ui.inverted.table td.goalsTableSpecial{
  background:rgba(90, 90, 90, 0.719) !important;
  color:rgb(255, 255, 255) !important;
}
.goalsTitleLine{
  width: 80%;
}

/* ========ADD=GOALS=BUTTON========= */
.goalButtons .ui.button.add{
  background:rgb(219, 219, 219) !important;
  color:black;
  text-shadow:none;
}
.goalButtons .ui.button.add:hover{
  background:white !important;
}
/* ================================= */
.pointerCursor {
  cursor: pointer;
}