.authMainContainer {
  background-color: #322943;
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  background-color: white;
  height: 3px;
  margin: 8px 0 10px;
}

.authHeader {
  font-size: 2rem;
} 

.authFormContainer {
  min-width: 300px;
  max-width: 400px;
}