.goalModalMainContainer {
  min-height: 400px;
  background-color: #322943 !important;
}

.goalModalFormContainer {
  min-width: 350px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  height: 100%;
}

.goalModalFormContainer label{
  font-size:1.3rem;
  color:white;
}

.goalModalHeader {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

.modalGoalMainContainer {
  max-width: 400px;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

.modalGoalHeader {
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
}

.modalGoalLabel {
  font-size: 1.2rem;
  margin-bottom: .5rem;
  color: white;
}