@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300;1,400&display=swap');

profileRow {
text-align: center;
font-size: 20px;
font-family: 'RobotoCondensed';
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
}

.profileContainer {
  display: block;
  cursor: pointer;
  height: 400px;
  width: 800px;
  perspective: 800px;
  position: relative;
  top: 200px;
  margin: auto;
  transition: ease-in;
  border: solid 1px #300;
  border-radius: 25px;
}