.profileMainContainer {
  background-color: #5E5371;
  padding-bottom: 100px;
  margin: auto;
}

.profileHeading {
  text-align: center;
  /* font-family: 'Raleway', sans-serif; */
  /* font-weight: lighter; */
  color: white;
  letter-spacing: 5px;
  font-size: 30px;
}

.profileHeaderLine{
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom:20px;
}

.profileSummary {
  text-align: center;
  /* font-family: 'Raleway', sans-serif; */
  letter-spacing: 4.16px;
  color: white;
  margin: 0;
}

.profileHeadingLine {
  width: 50%;
  position: relative;
  margin: 10px auto;
}

.profileHeader {
  padding-bottom: 100px;
  padding-top: 9%;
}

.profileCardContainer{
  background-color: white;
  padding: 3rem;
  width: 100%;
  min-width: 350px;
  max-width: 1000px;
  perspective: 800px;
  position: relative;
  margin: auto;
  transition: ease-in;
  border: solid 1px #300;
  border-radius: 25px;
}
.bottomCardDetailsContainer{
  display:flex;
}
.bottomCardDetailsContainer .ui.right.labeled.icon.button{
  display:block;
  margin-bottom:20px;
  width:250px;
  border: 1px solid #6B36A1;
  background:white;
  transition: all .2s ease-in-out;
  color: #6B36A1;
}
.bottomCardDetailsContainer .ui.right.labeled.icon.button:hover{
  background:rgb(236, 236, 236);
  transform: scale(1.05);
}
.bottomButtonContainer{
  padding-top: 40px;
}
.totalDisplayContainer{
  margin-left:auto;
  margin-top:20px;
  height:fit-content;
}
.totalDisplayContainer h1{
  font-weight:200;
  text-align: center;
  margin-bottom:20px;
}
.totalDisplayBox{
  border: 2px solid #6B36A1;
  display:flex;
  border-radius:20px;
  overflow:hidden;
}
.totalOverview, .moneyOverview{
  padding: 30px;
  flex-grow:1;
  text-align: left;
}
.moneyOverview{
  background: #674C82;
  color:white;
  position:relative;
}

/* ProfileMain*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300;1,400&display=swap');

.profileBody {
display: flex;
border-bottom: 1px solid #707070;
margin-bottom: 5px;
}

.fullNameAndEmail{
  color: #707070;
}

.profileFullName{
  margin-top: 50px;
  font-size: 40px;
  letter-spacing: 10.4px;
  margin-bottom: 50px;
}

.profileEmail{
  font-size: 25px;
  margin-bottom: 50px;
  letter-spacing: 6.24px;
}

.profileAvatar{
  width: 200px;
  height: 200px;
  border-radius: 200px;
  margin-left: 70%;
  position: absolute;
}

button.ui.blue.button:hover{
  transition: .5s;
  transform: scale(1.05);
}


.editAndSubButton{
  padding-bottom: 5px;
}

.modalProfileMainContainer {
  max-width: 400px;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

.modalProfileHeader {
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
}