
.profileMainContainer {
  /* background-color: #281A43;
  opacity: 0.9; */
  background-color: #3D3055;
  padding-bottom: 100px;
  margin: auto;
}

.profileHeading {
  text-align: center;
  font-family:  'Segoe UI';
  font-weight: lighter;
  color: white;
  letter-spacing: 7.9px;
  font-size: 30px;
  text-shadow: 0px 3px 7px black;
}

.profileSummary {
  text-align: center;
  font-family:  'Segoe UI';
  letter-spacing: 4.16px;
  color: white;
  margin: 0;
}

.profileHeadingLine {
  border-top: 2px solid #707070;
  width: 50%;
  position: relative;
  margin: 10px auto;
}

.profileHeader {
  padding-bottom: 100px;
  padding-top: 100px;
}

.profileCardContainer{
  background-color: white;
  padding: 3rem;
  width: 100%;
  min-width: 350px;
  max-width: 1000px;
  perspective: 800px;
  position: relative;
  margin: auto;
  transition: ease-in;
  border: solid 1px #300;
  border-radius: 25px;
}
.bottomCardDetailsContainer{
  display:flex;
}
.bottomCardDetailsContainer .ui.right.labeled.icon.button{
  display:block;
  margin-bottom:20px;
  width:250px;
  border: 1px solid #6B36A1;
  background:white;
  color: #6B36A1;
}
.bottomCardDetailsContainer .ui.right.labeled.icon.button:hover{
  /* background: #2185d0; */
  background:rgb(236, 236, 236);
}
.bottomButtonContainer{
  padding-top: 40px;
  
}
.totalDisplayContainer{
  margin-left:auto;
  margin-top:20px;
  height:fit-content;
}
.totalDisplayContainer h1{
  font-weight:200;
  text-align: center;
  margin-bottom:20px;
}
.totalDisplayBox{
  border: 2px solid #6B36A1;
  display:flex;
  border-radius:20px;
  overflow:hidden;
}
.totalOverview, .moneyOverview{
  padding: 30px;
  flex-grow:1;
}
.moneyOverview{
  
  padding-left:60px;
  background: #674C82;
  color:white;
  position:relative;
}
/* BottomCardDetailsComponent*/

/* .bottomButtonContainer{
} */

/* ProfileMain*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300;1,400&display=swap');

.profileBody {
display: flex;
border-bottom: 1px solid #707070;
margin-bottom: 5px;
}

.fullNameAndEmail{
  /* font-family: 'RobotoCondensed'; */
  color: #707070;
}

.profileFullName{
  margin-top: 50px;
  /* font-family: 'regular', 'Segoe UI'; */
  font-size: 40px;
  letter-spacing: 10.4px;
  margin-bottom: 50px;
}

.profileEmail{
  font-size: 25px;
  margin-bottom: 50px;
  letter-spacing: 6.24px;
  /* line-height: 50px; */
}

.profileAvatar{
  width: 200px;
  height: 200px;
  border-radius: 200px;
  margin-left: 70%;
  position: absolute;
}

.editAndSubButton{
  padding-bottom: 5px;
}
