.expenseHeader{
  padding: bottom 3%;
  color:white;
  letter-spacing: 5px;
}
.expenseHeaderTitle{
  text-align: center;
  font-size:2.5rem;
  margin-bottom:20px;
  letter-spacing:5px;

}
.expenseHeaderText{
  max-width: 90%;
  text-align: center;
  letter-spacing: 4.5px;
  margin: 0 auto;
}
.expenseHeader Hr{
  width:80%;
  margin: 0 auto;
  margin-bottom:20px;
}
.expenseTable{
  padding-bottom:2rem;
} 

.expenseButtons{
  display: flex;
  justify-content: center;
  margin-top:50px;
  margin-bottom:50px;
}
.expenseButtons .button{
  flex-grow: 1;
  margin-left:20px;
  margin-right:20px;
  letter-spacing: 10px;
  padding:15px;
  border-radius:5px;
  font-size: 0.8rem;
  transition: .5s;
  background: #333333 !important;
  color:white;
}

.expenseButtons button.on.ui.button:focus{
  background-color: #2C2B2B;
  color: white;
}

.expenseButtons .button:hover{
  background:#434343 !important;
  color: white;
  transform: scale(1.05); 
  transition: all .2s ease-in-out;
}
.expenseButtons .button.add{
  background:rgb(219, 219, 219) !important;
  color:black;
  text-shadow:none;
}
.expenseButtons button.ui.button.add:hover{
  background:white !important;

}

.expenseButtons .ui.button.add {
  max-width: 300px;
}

.expense{
  background-color: #5E5371;
  padding: 6rem 0;
}

.expense .ui.table{
  text-align:center;
}

.pointerCursor {
  cursor: pointer;
}