.expenseHeader{
  padding-top:10%;
  padding: bottom 3%;
  color:white;
  letter-spacing: 5px;
}
.expenseHeaderTitle{
  text-align: center;
  font-size:2.5rem;
  margin-bottom:20px;
  letter-spacing:5px;

}
.expenseHeaderText{
  max-width: 90%;
  text-align: center;
  letter-spacing: 4.5px;
  margin: 0 auto;
}
.expenseHeader Hr{
  width:80%;
  margin: 0 auto;
  margin-bottom:20px;
}
.expenseTable{
  padding-bottom:10%;
} 

.expenseButtons{
  display: flex;
  margin-top:50px;
  margin-bottom:50px;
}
.expenseButtons .button{
  flex-grow: 1;
  margin-left:20px;
  margin-right:20px;
  letter-spacing: 10px;
  padding:15px;
  border-radius:30px;
  font-size: 0.8rem;
  transition: 500ms;
  background: #333333 !important;
  color:white;
}

.expenseButtons .button:hover{
  background:#434343 !important;
  color: white;
  transform: scale(1.1); 
  transition: all .2s ease-in-out;
}
.expenseButtons .button.add{
  background:rgb(219, 219, 219) !important;
  color:black;
  text-shadow:none;
}
.expenseButtons .button.add:hover{
  background:white !important;
  transition: all .2s ease-in-out;
  transform: scale(1.1); 
}

.expenseButtons .ui.button.add {
  max-width: 300px;
}

.expense{
  background: rgb(44,6,77);
  background: linear-gradient(0deg, rgba(226,191,117,1) 0%, rgba(44,6,77,1) 100%);
}

/* TABLE STYLES */
/* .expense .ui.single.line.table th{
  background:#9770be;
  color:white;
  text-decoration: solid;
}
.expense .ui.single.line.table td{
  background:rgb(34, 33, 36);
  color:white;
  text-decoration: solid;
} */
.expense .ui.table{
  /* background:none !important; */
  /* border-radius:20px; */
  /* overflow:hidden; */
  text-align:center;
}

.pointerCursor {
  cursor: pointer;
}