.goalModalMainContainer {
  min-height: 400px;
  background-color: #322943 !important;
}

.goalModalFormContainer {
  min-width: 350px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  height: 100%;
  padding: 2rem;
}

.goalModalHeader {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}